<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PELD Score
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="color1">
    <ion-text>
      <p>Pediatric version of the MELD score for patients younger than 12 years old.</p>
    </ion-text>
  </ion-item>
  <ion-card class ="color1">
    <ion-card-content>
      <ion-item class="color2">
        <ion-radio-group [(ngModel)]="growth" > 
            <ion-text>History of growth failure?</ion-text>
          <ion-item class="color2">
            <ion-text>Yes</ion-text>
            <ion-radio slot="start" value="q11"></ion-radio>
          </ion-item>
          <ion-item class="color2">
            <ion-text>No</ion-text>
            <ion-radio slot="start" value="q12"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>
      <ion-item-divider class="color1"></ion-item-divider>
      <ion-item class="color2">
        <ion-label>Age:</ion-label>
        <ion-input [(ngModel)]="age" type="number" placeholder="in years"></ion-input>
      </ion-item>
      <ion-item class="color2">
        <ion-label>Albumin:</ion-label>
        <ion-input [(ngModel)]="albumin" type="number" placeholder="enter value"></ion-input>
        <ion-select value="1"(ionChange)="checksatuan1($event)">
          <ion-select-option value="1">g/dL</ion-select-option>
          <ion-select-option value="2">g/L</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="color2">
        <ion-label>Bilirubin:</ion-label>
        <ion-input [(ngModel)]="bilirubin" type="number" placeholder="enter value"></ion-input>
        <ion-select value="1"(ionChange)="checksatuan2($event)">
          <ion-select-option value="1">mg/dL</ion-select-option>
          <ion-select-option value="2">µmol/L</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="color2">
        <ion-label>INR:</ion-label>
        <ion-input [(ngModel)]="inr" type="number" placeholder="enter value"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="calculate()" class="color4">Calculate<ion-icon slot="end" name="checkmark-circle-outline"></ion-icon></ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="clear()" fill="outline" color="primary">Clear<ion-icon slot="end" name="close-circle-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-card class="color3">
  <ion-card-content *ngIf="result1">
    <div>
      <p>{{result1}}</p>
    </div>
  </ion-card-content>
</ion-card>
</ion-content>
